$recipient: #ffffff;

$lightGray: #F2F4F7;
$gray: #475467;
$mediumGray: #667085;
$slateGray: #98A2B3;
$darkGray: #1D2939;

$lightGreen: #D1FADF;
$green: #12B76A;

$lightYellow: #FFF9D7;
$yellow: #B7A612;

$lightRed: #FAD1D1;
$red: #B71212;

$lightBlue: #D1FAFA;
$blue: #1299B7;

$lightPurple: #D1D5FA;
$ultraBlue: #1236B7;
