@import './src/styles/variables.scss';

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	min-height: 100%;

	.boardContainer {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}
