@import './src/styles/variables.scss';
@import './src/styles/mixins.scss';

@keyframes zoomIn {
  from {
	opacity: 0;
	transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
	opacity: 1;
  }
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #{doOpacity(0.5, $darkGray)};
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;

	.modal__container {
		background-color: $recipient;
		padding: 2rem;
		border-radius: 0.625rem;
		@include boxShadow($darkGray);
		display: flex;
		flex-direction: column;
		min-width: 35rem;
		min-height: 30rem;
		animation: zoomIn 200ms;


		.modal__header {
			display: inline-flex;
			justify-content: space-between;

			.modal__close_button {
				color: $mediumGray;
				display: inline-flex;
				align-items: center;
				gap: 0.5rem;
				background-color: transparent;
				border: none;
			}
		}

		.modal__main_content {
			flex: 1;
			display: flex;
			flex-direction: column;
		}

		.modal__footer {
			display: inline-flex;
			justify-content: flex-end;
			align-items: center;
		}

	}
}
